  .menucat a.mainmenu {
		font-size: 14px !important;
		font-size: 12px;
		display: block;
		text-decoration: none;
		color: #4e586e;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
	
	.menucat a.mainmenu:hover {
		background: #eeeeee;
	}
	
	.submenu {
		padding: 4px 0px 5px 10px;
		margin: 0;
	}
	
	.submenu a.submenulink {
		font-size: 13px !important;
		font-size: 11px;
		padding: 0;
		margin: 0;
		color: #4e586e;
		text-decoration: none;
	}
	
	.submenu a.submenulink:hover {
		background: #ffffff;
		text-decoration: underline;
	}
	
	.menucat {
		background: url(images/vertseparator.gif) bottom repeat-x;
		padding-bottom:3px;
	}
	
	.menucontent_white {
		background: #FFFFFF;
		margin: 0 2px 0 2px;
	}
	
	.menucat a.daypage {
		font-size: 14px;
		display: block;
		text-decoration: none;
		color: #4e586e;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
	
	.menucat a.daypage:hover {
		background: #93CCD7;
	}
	
	.menucat a.versionpage {
		font-size: 12px;
		display: block;
		text-decoration: none;
		color: #0FA974;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
	
	.menucat a.versionpage:hover {
		background: #eeeeee;
	}
	
	.menucat a.interfacepage {
		font-size: 12px;
		display: block;
		text-decoration: none;
		color: #7710F8;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
	
	.menucat a.interfacepage:hover {
		background: #eeeeee;
	}
	
	.menucat a.enquirypage {
		font-size: 12px;
		display: block;
		text-decoration: none;
		color: #5C8406;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
  
	.menucat a.enquirypage:hover {
		background: #eeeeee;
	}
  
	.menucat a.reportpage {
		font-size: 12px;
		display: block;
		text-decoration: none;
		color: #074B90;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
	
	.menucat a.reportpage:hover {
		background: #eeeeee;
	}
	
	.menucat a.phasepage {
		font-size: 14px;
		display: block;
		text-decoration: none;
		color: #3B5608;
		background: #ffffff;
		padding: 2px 4px 2px 4px;
		margin: 1px 1px 0px 0px;
		position: relative;
	}
	
	.menucat a.phasepage:hover {
		background: #93CCD7;
	}

  .changed {
  	background: red;
		font-size: 14px;
		font-weight: bold;
	}
  
	.added {
		background: yellow;
		font-size: 14px;
		font-weight: bold;
	}
  
	.removed {
		background: red;
		font-size: 14px;
		font-weight: bold;
	}
	
	h1 {
		font-size: 14px;
	}
  
	h2 {
		font-size: 13px;
	}
  
	h3 {
		font-size: 12px;
	}
  
	h4 {
		font-size: 11px;
	}
	
	p {
		font-size: 11px;
	}
	
	ul {
		font-size: 11px;
	}

  body {
  	background-image: url(bpft.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-size: 11px;
	}
	
	table {
      border-style:double;
	  border-color: black;
      background-color: #eeeeee;
      table-layout:auto;
      font-size: 11px;
      margin-left:15px;
      empty-cells: hide;
	}

  a:active { 
    background: yellow;
    font-weight:bold;
    color: black;
  }
	
	.TableFont {
		font-family: "Times New Roman", Times, serif;
		font-size: 12px;
		font-weight: 500;
	}
	
	.TableHeader {
		font-size: 14px;
		font-weight: 900;
	}